

.navbar .nav-item:hover .nav-link {
    background-color: white;
    color : black;
}
.h1{
    text-align: center;
}

.conteneur_img_accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* ou space-between selon le rendu souhait� */
}

.img_accueil {
    flex-grow: 1; /* Permet � chaque image de remplir l'espace disponible */
    box-sizing: border-box;
    margin: 15px;
    overflow: hidden; /* Assure que la bordure ne d�borde pas */
}

.img_accueil img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 5px solid #0c0c0c;
    transition: margin 0.5s;
}

.img_accueil:hover img {
    margin-top: -10px;
}

.accueil_style{
    background-image: url("/asset/style/img/CHAT.jpg");
}


/* FOOTER */


.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}
.footer-basic p {
    color : orange;
    font-size : 14px;
    text-align: center;

}

.footer-basic p:hover {
    color: rgb(128, 128, 128);
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"],
input[type="password"] {
    height: 40px;
}

button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}



.product-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
    flex: 1;
    padding: 20px;
}

.product-image {
    flex: 1;
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center; /* Centre l'image verticalement */
    overflow: hidden; /* Pour éviter le débordement */
    max-width: 200px;
    max-height: 200px;
}

.product-image img {
    max-width: 100%; /* L'image ne dépassera pas la largeur du conteneur */
    max-height: 100%; /* L'image ne dépassera pas la hauteur du conteneur */
}

.disabled-cart {
    opacity: 0.5; /* Opacité pour griser la carte */
    pointer-events: none; /* Désactive les événements de la souris sur la carte */
}
