<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <th:block th:replace="/components/header"></th:block>
  </head>
  <body>
    <header>
      <th:block th:replace="/components/navbar">
      </th:block>
    </header>
    <div class="accueil_style">
      <div class="h1">
        <p style="color: white; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;">Nos produits les plus appréciés</p>
      </div>
      <div class="conteneur_img_accueil">
        <div th:each="product : ${products}" class="col-3">
          <div  class="img_accueil">
            <a th:href="|/page_product/${product.getId()}|"> <img th:src="${product.getImage()}" style="width: 100%; height: 250px; object-fit: cover;" alt=""> </a>
          </div>
        </div>

      </div>
    </div>

    <footer class="footer-basic">
      <p>Retour à l'accueil</p>
    </footer>
  </body>
</html>
